* {
    margin: 0px;
}
html {
    font-size: 62.5%;
}

h1 {
    font-size: 5.0rem;
}
nav {
    font-size: 2.0rem;
}
.text-section {
    font-size: 1.8rem;
}

nav {
    text-decoration: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: rgb(48, 73, 109);
    padding: 20px;
    font-family: 'Oswald', sans-serif;
    color: rgb(244, 248, 255);
}

.navlinks {
    font-size: 2.5rem;
    display: flex;
}
/*This is how you use class style for tag that child your tag class*/
.navlinks li {
    text-decoration: none;
    list-style-type: none;
    letter-spacing: 5px;
    margin-left: 2.0rem;
    margin-right: 2rem;
    cursor: pointer;
}

a { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:focus { text-decoration: none; }
a:hover, a:active { text-decoration: none; }